//Fonts
$Roboto: 'Roboto', sans-serif;
$Raleway: 'Raleway', sans-serif;
$OpenSans: 'OpenSans', sans-serif;
//colors
$yellow: #ffcc00;
$gray: #666666;
$lightgray: #cccccc;
//uppertext
//$UpTxt: text-transform: uppercase;
//colors for social
$facebook:darken(saturate(adjust-hue(#cccccc, 221), 44.08), 38.63);
$twitter:darken(saturate(adjust-hue(#cccccc, 197), 100.00), 33.33);
$gplus:darken(saturate(adjust-hue(#cccccc, 7), 64.08), 28.04);
$linkedin:darken(saturate(adjust-hue(#cccccc, 215), 42.86), 30.59);